body {
    margin: 0 0;
    padding: 0 0;
    background-color: #EBEBEB;
    font-size: 1.2em;
    color: #303234;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#Home {
    width: 100%;
}

header {
    background-image: url("../img/TogHD.jpg");
    height: 100%;
    background-attachment: fixed;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    margin: 0 0;
    text-align: center;
}

header.no-img {
    background-image: none;
    height: 0;
    margin: 0 0;
    text-align: center;
}

#Header-container {
    top: 150px;
    width: 500px;
    height: auto;
    position: relative;
    background-color: rgba(51, 51, 51, 0.9);
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px Highlight;
    border: 1px solid Highlight;
}

#h1header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 10px Highlight;
}

#h3header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 10px Highlight;
}

.flag {
    height: 25px;
    width: auto;
    float: right;
    top: 10px;
    position: relative;
    margin-right: 1%;
}

#arrow-down {
    width: 50px;
    height: auto;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 100px;
    box-shadow: 0px 0px 30px Highlight;
    border: 1px solid Highlight;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h3 {
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    padding: 0;
}

#dropdown-content {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#button {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    display: none;
}

#p-menu {
    color: white;
    font-size: 20px;
    padding: 12px 25px;
    text-decoration: none;
    margin: 0;
    text-align: center;
    float: left;
}

button {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 1;
    border: none;
}

button ul {
    margin: 0;
    padding: 0;
}

button ul li {
    float: left;
    list-style-type: none;
    margin: 0;
}

ul a {
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 12px 25px;
    text-decoration: none;
    margin: 0;
    float: left;
}

ul a:hover {
    background-color: white;
    color: black;
}

ul a:focus {
    background-color: white;
    color: black;
}

button:hover li a {
    display: block;
}

button:hover #button {
    display: none;
}

#p-menu:hover li a {
    display: block;
}

.survey {
    width: 50%;
    margin: 0 auto;
    height: auto;
}

.dot {
	background: #000000;
	width: 16px;
	height: 16px;
	border-radius: 100%;
    border: solid 1px black;
    margin: 2%;
}

.white {
    background-color: white;
    position: relative;
    float: left;
    width: 76%;
    height: auto;
    padding: 4% 12%;
    padding-bottom: 1%;
}

.grey {
    background-color: #e6e6e6;
    position: relative;
    float: left;
    width: 76%;
    height: auto;
    padding: 4% 12%;
    padding-bottom: 1%;
}

img.Smartphone-left {
    float: left;
    padding: 3%;
    height: 60%;
    width: auto;
}

img.Smartphone-right {
    float: right;
    padding: 3%;
    height: 60%;
    width: auto;
}

.details, .show, .hide:target {
    display: none;
}

.hide:target+.show, .hide:target~.details {
    display: block;
}

h4 {
    font-size: 1.2em;
    margin-top: 15px;
}

.Features-more {
    height: auto;
    padding: 2%;
    position: relative;
    text-align: center;
}

.Features-left {
    width: 45%;
    height: auto;
    padding: 2%;
    float: left;
    position: relative;
    text-align: center;
}

.Features-right {
    width: 45%;
    height: auto;
    padding: 2%;
    float: right;
    position: relative;
    text-align: center;
}

.feature-heading {
    font-size: 1.5em;
    text-align: center;
}

.feature-logo {
    width: 100px;
    margin: 0 auto;
    height: auto;
}

.feature-p {
    font-weight: normal;
    font-size: 1em;
    text-align: left;
}


.download-logo {
    width: 40%;
    margin: 0 auto;
    height: auto;
}

.download {
    margin: 1% auto;
    text-align:center;
    display:block;
}

footer {
    text-align: center;
    background-color: rgba(51, 51, 51, 0.9);
    width: 100%;
    position: relative;
    float: left;
    height: auto;
    padding: 0px 0px 0px 0px;
}

p.footer {
    font-family: Verdana;
    font-size: 0.8em;
    color: white;
}

@media only screen and (min-width: 150px) and (max-width: 750px) {
    header {
        background-image: url("../img/Tog.jpg");
        height: 100%;
        width: 100%;
        background-size: cover;
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: none;
    }
    #Header-container {
        top: 100px;
        padding: 10px;
        width: 90%;
    }
    #h1header {
        font-size: 3em;
    }
    #h3header {
        font-size: 1.6em;
    }
    #button {
        position: fixed;
        width: 100%;
        height: auto;
        background-color: rgba(51, 51, 51, 0.9);
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
        z-index: 1;
        display: block;
    }
    li a {
        display: none;
        float: none;
        text-align: center;
    }
    button ul li {
        float: none;
        border-right: none;
    }
    #dropdown-content {
        margin-right: -299px;
    }
    .white {
        background-color: white;
        position: relative;
        float: left;
        width: 96%;
        height: auto;
        padding: 7% 2%;
    }
    .grey {
        background-color: #f2f2f2;
        position: relative;
        float: left;
        width: 96%;
        height: auto;
        padding: 7% 2%;
    }
    .Features-left {
        width: 98%;
    }
    .Features-right {
        width: 98%;
    }
    .flag {
        position: absolute;
    }
    #norge-flag {
        right: 43px;
    }
    #england-flag {
        right: 1px;
    }
    footer {
        width: 90%;
        padding: 10px 5%;
        margin-bottom: 0;
    }
    img.Smartphone-left {
        display: none;
    }
    img.Smartphone-right {
        display: none;
    }
    .survey {
        width: 40%;
        margin: 0 auto;
        height: auto;
    }
    .download-logo {
        width: 40%;
        margin: 0 auto;
        height: auto;
    }
}
