body {
    margin: 0 0;
    padding: 0 0;
    background-color: #e6e6e6;
    font-size: 1.2em;
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 100%;
}

#Home {
    width: 100%;
}

header {
    background-image: url("../img/train.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    margin: 0 0;
    text-align: center;
}

header.no-img {
    background-image: none;
    min-height: 0vh;
    height: 0;
    margin: 0 0;
    text-align: center;
}

#Header-container {
    top: 150px;
    width: 500px;
    height: auto;
    position: relative;
    background-color: rgba(51, 51, 51, 0.9);
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px Highlight;
    border: 1px solid Highlight;
}

#h1header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 10px Highlight;
}

#h2header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 10px Highlight;
}

.flag {
    height: 25px;
    width: auto;
    float: right;
    top: 10px;
    position: fixed;
    z-index: 1;
    margin-right: 1%;
}

#norge-flag {
    right: 43px;
}

#england-flag {
    right: 1px;
}

#arrow-down {
    width: 50px;
    height: auto;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 100px;
    box-shadow: 0px 0px 30px Highlight;
    border: 1px solid Highlight;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h3 {
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1.2em;
    text-align: center;
    margin-top: 15px;
    padding: 0;
}

h5 {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

#navigation {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.main {
    display: none;
}

ol {
    text-align: left;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
    list-style-type: none;
    margin: 0;
}

ul a {
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 12px 25px;
    text-decoration: none;
    margin: 0;
    float: left;
}

ul a:hover {
    background-color: white;
    color: black;
}

ul a:focus {
    background-color: white;
    color: black;
}

.survey {
    width: 50%;
    margin: 0 auto;
    height: auto;
}

.dot {
    background: #000000;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: solid 1px black;
    margin: 2%;
}

.white {
    background-color: white;
    position: relative;
    float: left;
    width: 76%;
    height: auto;
    padding: 4% 12%;
    padding-bottom: 1%;
}

.grey {
    background-color: #e6e6e6;
    position: relative;
    float: left;
    width: 76%;
    height: auto;
    padding: 4% 12%;
    padding-bottom: 1%;
}

img.smartphone {
    float: right;
    padding: 1%;
    margin: 0 auto;
    height: auto;
    width: 25%;    
}

.details, .show, .hide:target {
    display: none;
}

.hide:target+.show, .hide:target~.details {
    display: block;
}

.Features-more {
    height: auto;
    padding: 2%;
    position: relative;
    text-align: center;
}

.Features-left {
    width: 45%;
    height: auto;
    padding: 2%;
    float: left;
    position: relative;
    text-align: center;
}

.Features-right {
    width: 45%;
    height: auto;
    padding: 2%;
    float: right;
    position: relative;
    text-align: center;
}

.feature-heading {
    font-size: 1.5em;
    text-align: center;
}

.feature-logo {
    width: 100px;
    margin: 0 auto;
    height: auto;
}

.feature-p {
    font-weight: normal;
    font-size: 1em;
    text-align: left;
}

.download-logo {
    width: 40%;
    margin: 0 auto;
    height: auto;
}

.download {
    margin: 1% auto;
    text-align: center;
    display: block;
}

footer {
    text-align: center;
    /*background-color: rgba(51, 51, 51, 0.9);*/
    background-color: #333333;
    width: 100%;
    position: relative;
    float: left;
    height: auto;
    padding: 0px 0px 0px 0px;
}

p.footer {
    font-family: Verdana;
    font-size: 0.8em;
    color: white;
}

@media only screen and (min-width: 150px) and (max-width: 750px) {
    header {
        background-image: url("../img/train.jpg");
        height: 100%;
        width: 100%;
        background-size: cover;
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: transparent;
    }
    #Header-container {
        top: 100px;
        padding: 10px;
        width: 90%;
    }
    #h1header {
        font-size: 3em;
    }
    #h2header {
        font-size: 1.6em;
    }
    .nav, .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .nav a {
        text-decoration: none;
    }
    /*IE5 list fix*/
    .nav .sub li {
        float: left;
    }
    .nav .sub>li {
        float: none;
    }
    #navigation {
        position: fixed;
    }
    .nav {
        position: absolute;
        visibility: hidden;
    }
    .nav .link {
        width: 1000px;
        margin-top: -10075px;
        float: left;
    }
    /*a undergrupper*/
    .nav a {
        position: relative;
        display: block;
        height: auto;
        line-height: 25px;
        text-decoration: none;
        color: #fff;
        z-index: 10;
        visibility: visible;
        float: left;
    }
    .nav .sub a {
        background-color: rgba(51, 51, 51, 0.9);
        margin: 0 -51px 0 0;
        width: 1000px;
        padding: 12px 25px;
    }
    .nav .sub {
        float: left;
    }
    .nav a.main {
        width: 1000px;
        background-color: rgba(51, 51, 51, 0.9);
        height: 25px;
        line-height: 25px;
        padding: 12px 25px;
        margin-top: 10075px;
        margin-right: -1049px;
        float: left;
    }
    .nav a.main:hover, .nav a.main:focus, .nav a.main:active {
        margin-right: 0;
        background: #fff;
        color: #000;
    }
    /*sub undergrupper*/
    .nav .sub a:hover, .nav .sub a:focus, .nav .sub a:active {
        margin: 0 0 0 0;
        background: #fff;
        color: #000;
    }
    /*empty rule to fix occassional IE6 tabbing bug, one of the weirdest bug's i have seen.*/
    a, a:hover, a:active, a:focus {}
    /*Opera fix*/
    .sub:hover {
        clear: both;
    }
    .white {
        background-color: white;
        position: relative;
        float: left;
        width: 96%;
        height: auto;
        padding: 7% 2%;
    }
    .grey {
        background-color: #f2f2f2;
        position: relative;
        float: left;
        width: 96%;
        height: auto;
        padding: 7% 2%;
    }
    .Features-left {
        width: 98%;
    }
    .Features-right {
        width: 98%;
    }
    .flag {
        position: fixed;
        z-index: 1;
    }
    #norge-flag {
        right: 43px;
    }
    #england-flag {
        right: 1px;
    }
    footer {
        width: 90%;
        padding: 10px 5%;
        margin-bottom: 0;
    }
    img.smartphone {
        display: none;
    }
    .survey {
        width: 40%;
        margin: 0 auto;
        height: auto;
    }
    .download-logo {
        width: 40%;
        margin: 0 auto;
        height: auto;
    }
}
